<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.it5.firebasedemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- USE_CREDENTIALS is necessary for Google+ login -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GET_ACCOUNTS is necessary to display email address of logged in user. This permission is optional -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".auth.DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".activity.PushActivity"/>
        <activity android:name=".activity.AnalyticsActivity"/>
        <activity
            android:name=".auth.CustomAuthActivity"
            android:label="@string/label_custom_auth" />
        <activity
            android:name=".auth.GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
        <activity
            android:name=".auth.FacebookLoginActivity"
            android:label="@string/label_facebook_login" />
        <activity
            android:name=".auth.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".auth.AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth" />
        <activity
            android:name=".auth.TwitterLoginActivity"
            android:label="@string/label_twitter_login" />
        <activity
            android:name=".auth.FirebaseUIActivity"
            android:label="@string/label_firebase_ui"/>
        <activity
            android:name=".auth.AuthActivity"
            android:label="@string/label_firebase_ui"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="R.string.twitter_consumer_key"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>